<!-- Javascript -->
<script th:src="@{/sleek/assets/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/sleek/assets/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/sleek/assets/plugins/simplebar/simplebar.min.js}"></script>

<script th:src='@{/sleek/assets/plugins/charts/Chart.min.js}'></script>
<script th:src='@{/sleek/assets/js/chart.js}'></script>

<script th:src='@{/sleek/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js}'></script>
<script th:src='@{/sleek/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js}'></script>
<script th:src='@{/sleek/assets/js/vector-map.js}'></script>

<script th:src='@{/sleek/assets/plugins/daterangepicker/moment.min.js}'></script>
<script th:src='@{/sleek/assets/plugins/daterangepicker/daterangepicker.js}'></script>
<script th:src='@{/sleek/assets/js/date-range.js}'></script>

<script th:src='@{/sleek/assets/plugins/toastr/toastr.min.js}'></script>

<script th:src="@{/sleek/assets/js/sleek.js}"></script>
<link th:href="@{/sleek/assets/options/optionswitch.css}" rel="stylesheet">
<script th:src="@{/sleek/assets/options/optionswitcher.js}"></script>