<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/adminLayoutSleek}">
<head>
    <title>Content Form</title>

    <!-- 1. Link to CDN JavaScript Online Of CKEditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/40.2.0/classic/ckeditor.js"></script>
</head>

<body>
<div class="content" layout:fragment="contentSleek">

    <!-- Child content will render here -->

    <h1 class="h3 mb-3"><strong>Create New Content</strong></h1>

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <form th:action="@{/content/create(isEditAction = ${isEditAction})}"
                  method="post"
                  th:object="${content}"
                  enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}">
                <div class="mb-3">
                    <label for="title" class="form-label">Content Title</label>
                    <input th:field="*{title}" type="text" class="form-control" id="title">
                    <span th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}" class="text-danger">Validation Message</span>
                </div>
                <div class="mb-3">
                    <label for="keyword" class="form-label">Content Keyword</label>
                    <input th:field="*{keyword}" type="text" class="form-control" id="keyword">
                    <span th:if="${#fields.hasErrors('keyword')}"
                          th:errors="*{keyword}" class="text-danger">Validation Message</span>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Content Description</label>
                    <textarea th:field="*{description}" class="form-control" id="description" rows="3"></textarea>
                    <span th:if="${#fields.hasErrors('description')}"
                          th:errors="*{description}" class="text-danger">Validation Message</span>
                </div>
                <div class="mb-3">
                    <label for="thumbnail" class="form-label">Content Thumbnail</label>
                    <input type="hidden" th:field="*{thumbnail}">
                    <input class="form-control" type="file" id="thumbnail" name="file">
                    <span th:if="${#fields.hasErrors('thumbnail')}"
                          th:errors="*{thumbnail}" class="text-danger">Validation Message</span>
                    <span th:if="${isSupported == false}" class="text-danger">Unsupported file extension, please upload png, jpg, webp, jpeg</span>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Choose Content's Category</label>
                    <select th:field="*{category.id}" class="form-control" id="category">
                        <option value="0" selected disabled>Select to choose one category</option>
                        <option th:each="category : ${categories}"
                                th:selected="${category.id} == *{category.id}"
                                th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                    <span th:if="${#fields.hasErrors('category')}"
                          th:errors="*{category}" class="text-danger">Validation Message</span>
                </div>
                <!-- 2. Create CKEditor Tag => #id -->
                <div class="mb-3">
                    <label for="editor" class="form-label">Content Editor</label>
                    <textarea th:field="*{editor}" class="form-control" id="editor" rows="8"></textarea>
                </div>
                <div class="form-check">
                    <input th:field="*{isDeleted}" class="form-check-input" type="checkbox" id="isDeleted">
                    <label class="form-check-label" for="isDeleted">Content Status</label>
                </div>
                <div class="mt-4">
                    <a th:href="@{/content}" class="btn btn-dark">Back</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>

<th:block layout:fragment="childScriptSleek">

    <!--Child script will render here -->

    <!-- 3. Init the CKEditor -->
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

</th:block>

</body>

</html>