<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/adminLayoutSleek}">
<head>
    <title>Admin Dashboard</title>
</head>

<body>

<div class="content" layout:fragment="contentSleek">

    <!-- Child content will render here -->

    <div class="error-wrapper rounded border bg-white px-5">
        <div class="row justify-content-center align-items-center text-center">
            <div class="col-xl-4">
                <h1 class="text-primary bold error-title">404</h1>
                <p class="pt-4 pb-5 error-subtitle">Looks like something went wrong.</p>
                <a th:href="@{/content}" class="btn btn-primary btn-pill">Back to Home</a>
            </div>

            <div class="col-xl-6 pt-5 pt-xl-0 text-center">
                <img th:src="@{/sleek/assets/img/lightenning.png}" class="img-fluid" alt="Error Page Image">
            </div>
        </div>
    </div>

</div>

</body>
</html>