<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/adminLayoutSleek}">
<head>
    <title th:text="${category.name}">Category Detail</title>
</head>

<body>

<div class="content" layout:fragment="contentSleek">

    <!-- Child content will render here -->

    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2 th:text="${category.name}"></h2>
        </div>
        <div class="py-4">
            <a th:href="@{/category}" class="btn btn-danger ml-3">Back</a>
        </div>
    </div>

</div>

</body>
</html>